@model Library.Models.Book.BookModel

 <div id="Books">
     <h3>Library Catalogue</h3>
     <div id="bookTable">
         <table class="table table-condensed" id="bookTable">
             <thead>
                 <tr>
                     <th>Image</th>
                     <th>Title</th>
                     <th>Author</th>
                     <th>Dewey Classification</th>
                 </tr>
             </thead>
             <tbody>
                @foreach (var book in Model.Books)
                 {
                 <tr class="bookRow">
                     <td class="">
                         <a asp-controller="Book" asp-action="GetBook" asp-route-id="@book.Id">
                             <img src="@book.Image" class="imageCell" />
                         </a>
                     </td>
                     <td>
                     @Html.ActionLink(book.Title, "GetBook",
                    new { id = book.Id , Controller = "Book"})
                     @* <td class="">@book.Title</td>*@
                     <td class="">@book.Author</td>
                     <td class="">@book.DeweyClassification</td>

                 </tr>
                 }

             </tbody>
         </table>
     </div>
 </div>