@model IEnumerable<Library.Data.Models.Book>

@{
    ViewBag.Title = "GetBooks";
}

<h2>GetBooks</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
    <thead>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Author</th>
            <th>Dewey Classification</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
               <img src="@Html.DisplayFor(modelItem => item.Image)" class="imageCell" />
            </td>
            <td>
                @Html.ActionLink(item.Title, "GetBook",
                    new { id = item.Id , Controller = "Book" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeweyClassification)
            </td>

            <td>
                @Html.ActionLink("Edit", "UpdateBook",
               new { id = item.Id , Controller = "BookAdmin" }) |
               
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
